body{
    background: linear-gradient(25deg, #f181aa, #d36c76 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}
.container{
    background-color: #eee9e9;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 30px;
    margin-bottom: 1.5rem;

}
.timer {
    font-size: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation: pulse 1.5s infinite alternate;

    
}
@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}